@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@CHARSET "UTF-8";

#msg{
	color: #ff0000;
}

#cond{
	font-weight: bold; 
}

#count{
	font-weight: bold; 
}

#menuhead{
	font-weight: bold; 
}

#menucat{
	font-weight: bold; 
}

#menu{
	font-weight: bold; 
}

#category{
	font-weight: bold; 
}

#editmenu{
	font-weight: bold; 
}

#dialogattr{
	font-weight: bold; 
}

h1 {
	margin: 0px 5px 0px 0px;
	padding: 3px 0px 3px 10px;
	background: #014051 left top;
	font-style: normal;
	font-size: 12pt;
	color: #ffffff;
	text-decoration: none;
	text-transform: none;
}
