<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>FTCRegistInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetInventoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCPictureUploadSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCPictureUploadSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetPictureSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetPictureSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetInventoryListByTypeSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetInventoryListByTypeSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoginSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoginSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCRegistEmployeeSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistEmployeeSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetInventoryListSortByDateSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetInventoryListSortByDateSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetInventoryHistoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetInventoryHistoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelInvSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelInvSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetInventoryAllListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetInventoryAllListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetEmployeeAllListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetEmployeeAllListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditEmployeeSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditEmployeeSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelForSellInvSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelForSellInvSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelForInvCountSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelForInvCountSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelForClosedInvSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelForClosedInvSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCSeachInventoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCSeachInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetOldInventoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetOldInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCSeachOldInventoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCSeachOldInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCDetailInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCDetailInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCRegistClientSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistClientSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditClientSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditClientSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCSeachClientListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCSeachClientListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelClientAllSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelClientAllSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelOrderSheetSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelOrderSheetSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelJpInvoiceSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelJpInvoiceSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelProformaInvoiceSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelProformaInvoiceSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCRegistDailyReportSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistDailyReportSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCSeachDailyReportListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCSeachDailyReportListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditDailyReportSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditDailyReportSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelDailyReportAllSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelDailyReportAllSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCRegistRentalInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistRentalInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetRentalInventoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetRentalInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditRentalInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditRentalInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCSeachRentalInventoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCSeachRentalInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCRegistRentalOrderSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistRentalOrderSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetRentalOrderListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetRentalOrderListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditRentalOrderSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditRentalOrderSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetRentalOrderSalesListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetRentalOrderSalesListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditRentalOrderSalesSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditRentalOrderSalesSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelRentalOrderSheetSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelRentalOrderSheetSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelRentalJpInvoiceSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelRentalJpInvoiceSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCLoadExcelRentalOrderSalesListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCLoadExcelRentalOrderSalesListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCRegistOtherInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistOtherInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCSeachOtherInventoryListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCSeachOtherInventoryListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditOtherInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditOtherInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCPictureUploadRentalSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCPictureUploadRentalSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetPictureRentalSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetPictureRentalSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCDetailRentalInventorySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCDetailRentalInventorySvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCBatchChecklBillCondSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCBatchChecklBillCondSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCBatchCreateRentalSalesSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCBatchCreateRentalSalesSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCBatchCloseRentalOrderSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCBatchCloseRentalOrderSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCBatchMaintnanceSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCBatchMaintnanceSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCRegistPreRentalOrderSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCRegistPreRentalOrderSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditPreRentalOrderSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditPreRentalOrderSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCGetPreRentalOrderListSvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCGetPreRentalOrderListSvlt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FTCEditCompanySvlt</servlet-name>
    <servlet-class>gae.ftc.svlt.FTCEditCompanySvlt</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FTCRegistInventorySvlt</servlet-name>
    <url-pattern>/FTCRegistInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetInventoryListSvlt</servlet-name>
    <url-pattern>/FTCGetInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditInventorySvlt</servlet-name>
    <url-pattern>/FTCEditInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCPictureUploadSvlt</servlet-name>
    <url-pattern>/FTCPictureUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetPictureSvlt</servlet-name>
    <url-pattern>/FTCGetPicture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetInventoryListByTypeSvlt</servlet-name>
    <url-pattern>/FTCGetInventoryListByType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoginSvlt</servlet-name>
    <url-pattern>/FTCLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCRegistEmployeeSvlt</servlet-name>
    <url-pattern>/FTCRegistEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetInventoryListSortByDateSvlt</servlet-name>
    <url-pattern>/FTCGetInventoryListSortByDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetInventoryHistoryListSvlt</servlet-name>
    <url-pattern>/FTCGetInventoryHistoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelInvSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetInventoryAllListSvlt</servlet-name>
    <url-pattern>/FTCGetInventoryAllList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetEmployeeAllListSvlt</servlet-name>
    <url-pattern>/FTCGetEmployeeAllList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditEmployeeSvlt</servlet-name>
    <url-pattern>/FTCEditEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelForSellInvSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelForSellInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelForInvCountSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelForInvCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelForClosedInvSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelForClosedInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCSeachInventoryListSvlt</servlet-name>
    <url-pattern>/FTCSeachInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetOldInventoryListSvlt</servlet-name>
    <url-pattern>/FTCGetOldInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCSeachOldInventoryListSvlt</servlet-name>
    <url-pattern>/FTCSeachOldInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCDetailInventorySvlt</servlet-name>
    <url-pattern>/FTCDetailInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCRegistClientSvlt</servlet-name>
    <url-pattern>/FTCRegistClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditClientSvlt</servlet-name>
    <url-pattern>/FTCEditClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCSeachClientListSvlt</servlet-name>
    <url-pattern>/FTCSeachClientList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelClientAllSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelClientAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelOrderSheetSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelOrderSheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelJpInvoiceSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelJpInvoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelProformaInvoiceSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelProformaInvoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCRegistDailyReportSvlt</servlet-name>
    <url-pattern>/FTCRegistDailyReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCSeachDailyReportListSvlt</servlet-name>
    <url-pattern>/FTCSeachDailyReportList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditDailyReportSvlt</servlet-name>
    <url-pattern>/FTCEditDailyReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelDailyReportAllSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelDailyReportAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCRegistRentalInventorySvlt</servlet-name>
    <url-pattern>/FTCRegistRentalInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetRentalInventoryListSvlt</servlet-name>
    <url-pattern>/FTCGetRentalInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditRentalInventorySvlt</servlet-name>
    <url-pattern>/FTCEditRentalInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCSeachRentalInventoryListSvlt</servlet-name>
    <url-pattern>/FTCSeachRentalInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCRegistRentalOrderSvlt</servlet-name>
    <url-pattern>/FTCRegistRentalOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetRentalOrderListSvlt</servlet-name>
    <url-pattern>/FTCGetRentalOrderList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditRentalOrderSvlt</servlet-name>
    <url-pattern>/FTCEditRentalOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetRentalOrderSalesListSvlt</servlet-name>
    <url-pattern>/FTCGetRentalOrderSalesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditRentalOrderSalesSvlt</servlet-name>
    <url-pattern>/FTCEditRentalOrderSales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelRentalOrderSheetSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelRentalOrderSheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelRentalJpInvoiceSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelRentalJpInvoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCLoadExcelRentalOrderSalesListSvlt</servlet-name>
    <url-pattern>/FTCLoadExcelRentalOrderSalesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCRegistOtherInventorySvlt</servlet-name>
    <url-pattern>/FTCRegistOtherInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCSeachOtherInventoryListSvlt</servlet-name>
    <url-pattern>/FTCSeachOtherInventoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditOtherInventorySvlt</servlet-name>
    <url-pattern>/FTCEditOtherInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCPictureUploadRentalSvlt</servlet-name>
    <url-pattern>/FTCPictureUploadRental</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetPictureRentalSvlt</servlet-name>
    <url-pattern>/FTCGetPictureRental</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCDetailRentalInventorySvlt</servlet-name>
    <url-pattern>/FTCDetailRentalInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCBatchChecklBillCondSvlt</servlet-name>
    <url-pattern>/FTCBatchChecklBillCond</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCBatchCreateRentalSalesSvlt</servlet-name>
    <url-pattern>/FTCBatchCreateRentalSales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCBatchCloseRentalOrderSvlt</servlet-name>
    <url-pattern>/FTCBatchCloseRentalOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCBatchMaintnanceSvlt</servlet-name>
    <url-pattern>/FTCBatchMaintnance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCRegistPreRentalOrderSvlt</servlet-name>
    <url-pattern>/FTCRegistPreRentalOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditPreRentalOrderSvlt</servlet-name>
    <url-pattern>/FTCEditPreRentalOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCGetPreRentalOrderListSvlt</servlet-name>
    <url-pattern>/FTCGetPreRentalOrderList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FTCEditCompanySvlt</servlet-name>
    <url-pattern>/FTCEditCompany</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>